//Google fonts
@import url('https://fonts.googleapis.com/css?family=Pacifico');

//Fonts variable
$font-title: 'Pacifico', cursive;


//Colors
$white: #fff;
$black:#000000;
$light-grey: #dfe3e6;
$dark-blue: #4675d2;
$rgba-dark: rgba(0,0,0,.3);
$red: #FF0000;
$green: #628051;

