@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.wrapper-to-do {

  .container-to-do {
    background: url('../../../assets/images/forest.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;

    @include respond-to(handhelds) {
      height: 100%;
    }

    @include respond-to(medium-screens) {
      height: 100%;
    }

    .topMenu {
      background: rgba(0, 0, 0, .35);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;

      @include respond-to(handhelds) {
        flex-wrap: wrap;
      }

      @include respond-to(medium-screens) {
        flex-wrap: wrap;
      }

      h1 {
        font-family: $font-title;
        font-size: 30px;
        margin: 0;
        color: $white;
        -webkit-text-stroke: 0.3px $black;
      }

      .topMenu-sort {
        color: $white;
      }

      .topMenu-user {

        .mat-button {
          padding: 0;
        }

        .btn-profile {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }

  .wrapper-main {
    display: flex;
    align-items: baseline;
    padding: 10px;
    overflow-x: auto;
    height: calc(100vh - 90px);

    @include respond-to(handhelds) {
      flex-wrap: wrap;
      padding: 0;
      justify-content: space-evenly;
    }

    @include respond-to(medium-screens) {
      padding: 0;
    }
  }

  .main {
    padding: 0 30px;

    @include respond-to(handhelds) {
      padding: 0 10px 10px;
    }

    @include respond-to(medium-screens) {
      padding: 0 10px 10px;
    }

    .list-task {
      list-style-type: none;
      padding: 0;

      li {
        display: flex;
        flex-direction: column;
        font-family: $font-form;
        background-color: $light-grey;
        opacity: 0.9;
        padding: 10px;
        margin-bottom: 10px;

        @include respond-to(handhelds) {
          padding: 5px;
        }


        header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 10px;
        }

        input {
          background-color: transparent;
          border: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 15px;
          color: $dark-blue;
        }
      }
      textarea {
        text-align: justify;
        font-family: $font-form;
        background-color: transparent;
        border: none;
        padding: 10px;
        resize: none;
      }

      textarea::-webkit-scrollbar-track {
        border-radius: 3px;
        background-color: $light-grey;
      }

      textarea::-webkit-scrollbar {
        height: 10px;
        width: 7px;
      }

      textarea::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px $rgba-dark;
        background-color: $dark-blue;
      }

      footer {
        text-transform: uppercase;display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;

        input {
          color: $red;
        }

        .btn-update {
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
      .no-elements {
        color: $red;

      }
    }
    button {
      color: $blue;
      cursor: pointer;
    }
  }
}


