<div class="wrapper-to-do">
  <div class="container-to-do">
    <header class="topMenu">
      <h1>
        My to Do list
      </h1>
      <div class="topMenu-sort">
        <div class="sort-btn">
          <span>Sort:</span>
          <button mat-icon-button (click)="sortAsc()">
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button mat-icon-button (click)="sortDesc()">
            <mat-icon>arrow_upward</mat-icon>
          </button>
        </div>
      </div>
      <div class="topMenu-filter">
        <mat-form-field>
          <label>
            <input matInput type="text" placeholder="Search for ..." [(ngModel)]="titleTask"/>
          </label>
        </mat-form-field>
      </div>
      <div class="topMenu-user">
        <button mat-button [matMenuTriggerFor]="menu">
          <img class="btn-profile" src="../../../assets/images/user.jpg" alt="user">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="regirect()">Profile</button>
          <button mat-menu-item (click)="clearLocalStorage()">Log Out</button>
        </mat-menu>
      </div>
    </header>
    <div class="wrapper-main">
      <div class="main">
        <ul class="list-task" >
          <li *ngFor="let item of lists | filter: titleTask" data-id={{item._id}}>
            <header>
              <label>
                <input type="text" [(ngModel)]="item.title" placeholder="Title ..." value="{{item.title}}">
              </label>
              <button mat-button type="button" class="btn-update" (click)="updateTask(item._id, item)">
                <i class="material-icons">
                  create
                </i>
              </button>
            </header>
            <label>
              <textarea cols="40" rows="10" placeholder="Enter task ..." [(ngModel)]="item.description">{{item.description}}</textarea>
            </label>
            <footer>
              <p>Status: {{item.status}}</p>
              <button *ngIf=!item._id  mat-icon-button type="button" (click)="saveTask(item)">Save</button>
              <button type="button" mat-icon-button (click)="removeTask(item._id, item)">
                <mat-icon>clear</mat-icon>
              </button>
            </footer>
          </li>
          <li class="no-elements" *ngIf="(lists | filter: titleTask).length === 0">No elements</li>
        </ul>
      </div>
      <button *ngIf=!titleTask mat-button mat-raised-button type="button" (click)="addNewTask()"> + Add another card</button>
    </div>
  </div>
</div>
