<div class="wrapper-to-do">
  <div class="container-to-do">
    <header class="topMenu">
      <h1>
        My to Do list
      </h1>
      <div class="topMenu-sort">
        <div class="sort-btn">
          <span>Sort:</span>
          <button mat-icon-button>
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>arrow_upward</mat-icon>
          </button>
        </div>
      </div>
      <div class="topMenu-filter">
        <mat-form-field>
          <label>
            <input matInput type="text" placeholder="Search for">
          </label>
        </mat-form-field>
      </div>
      <div class="topMenu-user">
        <button mat-button [matMenuTriggerFor]="menu">
          <img class="btn-profile" src="../../../assets/images/user.jpg" alt="user">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Profile</button>
          <button mat-menu-item>Log Out</button>
        </mat-menu>
      </div>
    </header>
  </div>
</div>
