<div class="wrapper-to-do">
  <div class="container-to-do">
    <app-header></app-header>
    <div class="wrapper-main">
      <div class="main">
        <ul class="list-task" >
          <li *ngFor="let item of lists" data-id={{item._id}}>
            <label>
              <input type="text" [(ngModel)]="item.title" placeholder="Title ..." value="{{item.title}}">
            </label>
            <label>
              <textarea cols="40" rows="10" placeholder="Enter task ..." [(ngModel)]="item.description">{{item.description}}</textarea>
            </label>
            <footer>
              <p>Status: {{item.status}}</p>
              <button *ngIf=!item._id  mat-button type="button" (click)="saveTask(item)">Save</button>
              <button type="button" mat-icon-button (click)="removeTask(item._id, item)">
                <mat-icon>clear</mat-icon>
              </button>
            </footer>
          </li>
        </ul>
      </div>
      <button mat-button mat-raised-button type="button" (click)="addNewTask()"> + Add another card</button>
    </div>
  </div>
</div>
