@import "../../../assets/scss/_variables";

.wrapper-to-do {

  .container-to-do {
    background: url('../../../assets/images/forest.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
  }

  .wrapper-main {
    display: flex;
    align-items: baseline;
    padding: 10px;
    overflow-x: auto;
    height: calc(100vh - 90px);
  }

  .wrapper-main::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: $light-grey;
  }

  .wrapper-main::-webkit-scrollbar {
    height: 5px;
    width: 3px;
  }

  .wrapper-main::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px $rgba-dark;
    background-color: $rgba-dark;
  }

  .main {
    display: flex;
    margin-right: 20px;
  }

  .btn-add-list {
    background-color: $green;
  }
}

.topMenu {
  background: rgba(0,0,0,.35);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  h1 {
    font-family: $font-title;
    font-size: 30px;
    margin: 0;
    color: $white;
    -webkit-text-stroke: 0.3px $black;
  }

  .topMenu-sort {
    color: $white;
  }

  .topMenu-user {

    .mat-button {
      padding: 0;
    }

    .btn-profile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}


