@import "../../../assets/scss/_variables";

.wrapper-to-do {

  .container-to-do {
    background: url('../../../assets/images/forest.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
  }

  .wrapper-main {
    display: flex;
    align-items: baseline;
    padding: 10px;
    overflow-x: auto;
    height: calc(100vh - 90px);
  }

  .main {
    padding: 0 30px;

    .list-task {
      list-style-type: none;
      padding: 0;

      li {
        display: flex;
        flex-direction: column;
        font-family: $font-form;
        background-color: $light-grey;
        opacity: 0.9;
        padding: 10px;
        margin-bottom: 10px;

        header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        input {
          background-color: transparent;
          border: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 15px;
          color: $dark-blue;
        }
      }
      textarea {
        text-align: justify;
        font-family: $font-form;
        background-color: transparent;
        border: none;
        padding: 10px;
        resize: none;
      }

      textarea::-webkit-scrollbar-track {
        border-radius: 3px;
        background-color: $light-grey;
      }

      textarea::-webkit-scrollbar {
        height: 10px;
        width: 7px;
      }

      textarea::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px $rgba-dark;
        background-color: $dark-blue;
      }

      p {
        color: $red;
        font-weight: bold;
        font-size: 13px;
      }

      footer {
        text-transform: uppercase;display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-update {
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
    }
    button {
      color: $blue;
      cursor: pointer;
    }
  }
}


