@import "../../../assets/scss/variables";

.wrapper-title-toDo {
  padding: 10px;


  .wrapper-form-title {
    background-color: $light-grey;
    opacity: 0.9;
  }

  label {
    display: block;
    padding: 10px;
  }
  input {
    display: block;
    border: none;
    outline: none;
    padding: 10px 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }

  //.btn-add {
  //  background-color: $rgba-dark;
  //  border: none;
  //  border-radius: 4px;
  //  padding: 5px 10px;
  //  outline: none;
  //  cursor: pointer;
  //  color: $white
  //}

  //.btn-add:hover{
  // background-color: $blue;
  //}

  .btn-title {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    text-align: left;
    color: $dark-grey;
  }

  .btn-title:hover {
    background-color: $rgba-bth;
    color: $white;
    text-decoration: underline;
    cursor: pointer;
  }
}
