@import "../../../assets/scss/variables";

.wrapper-title-toDo {
  padding: 10px;

  label {
    display: block;
  }
  input {
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }

  .btn-title {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    text-align: left;
    color: $dark-grey;
  }

  .btn-title:hover {
    background-color: $rgba-bth;
    color: $black-2;
    text-decoration: underline;
    cursor: pointer;
  }
}
