@import "../../../assets/scss/_variables";

.wrapper-signup {
   font-family: $font-form;
   background: $form-gradient;
   height: 100vh;
   display: flex;
   align-items: center;

   .container-signup {
     background-color: $white;
     border-radius: 5px;
     width: 500px;
     padding: 15px 0 15px;
     margin: 0 auto;

     .title-form {
       text-align: center;
       padding: 15px;
       color: $blue;
       font-size: 20px;
       border-bottom: 1px solid $light-grey;
     }

     .wrapper-btn-form {
       text-align: center;
       padding:15px;
     }

     .form {
       text-align: center;
       display: flex;
       flex-direction: column;
       align-items: center;

       mat-form-field {
         width: 300px;
       }

       .error-message {
         font-size: 13px;
         color: $red;
       }
     }
   }
 }
